//////mobile navigation
/////////////////////

.mobile_navigation {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
  background-color: $color-background-grey-light;
  animation: mymove 0.5s ease-in;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  & a {
    font-size: 4rem;
    color: $color-orange-dark;
  }
}
@keyframes mymove {
  from {
    background-color: #ebeff700;
  }
  to {
    background-color: #ebeff7ff;
  }
}

.stars_hidden {
  opacity: 0%;
}
.btn_open-nav {
  pointer-events: none;
  @include respond(phone) {
    pointer-events: auto;
  }
}
