.section-description {
  background-image: url(../img/MaskGroup7.png);
  background-size: cover;
  background-position: center;
  max-height: 100%;
}
.description_box {
  display: flex;
  max-width: 57.8rem;
  padding: 26.9rem 0 26.9rem 17.4rem;
  flex-direction: column;
  @include respond(tab-land) {
    margin-left: auto;
    margin-right: auto;
    padding: 20rem 0;
  }
  @include respond(small-phone) {
    max-width: 90%;
  }
}
.description_navigation {
  display: flex;
  gap: 3.2rem;
  font-weight: 500;
  font-size: 2.4rem;
  text-transform: uppercase;
  justify-content: space-between;
  transform: translateY(0.6rem);
  @include respond(small-phone) {
    gap: 1.8rem;
  }
}
.btn-tab,
.btn-tab:link,
.btn-tab:visited {
  display: inline-block;

  font-family: $font-primary;
  font-size: 2.4rem;
  font-weight: 500;
  color: $color-black;
  text-decoration: none;
  padding: 0 2.4rem 2.56rem 2.4rem;
  @include respond(phone) {
    font-size: 1.8rem;
  }
}
.description_text-box {
  display: none;
}
.description__tab-active {
  border-bottom: 8px solid $color-orange-dark;
}
.description_text-active {
  border-top: 4px solid $color-grey-light-2;
  display: flex;
  flex-direction: column;
  padding: 3.2rem 0 0 0;
  gap: 2rem;
}
