.section-order {
  display: flex;
  flex-direction: column;
  background-color: $color-background-grey-dark;
}
.order-heading {
  align-self: center;
  margin: 12.8rem auto 2.4rem auto;
  flex-wrap: nowrap;
  max-width: 40.6rem;
  text-align: center;
}
.order-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  margin: 0 auto 0 auto;
  align-items: center;
}
.picture-container {
  margin: 14.5rem 0 auto auto;
  align-self: center;
}
.picture-order {
  max-width: 67rem;
  max-height: auto;

  @include respond(tab-land) {
    max-width: 57rem;

    margin-top: 5rem;
  }
  @include respond(tab-port) {
    max-width: 47rem;
  }
}
//////////////////////////
.data-container {
  display: flex;

  flex-direction: column;
  row-gap: 4.6rem;
  justify-self: start;
  margin-left: 2rem;
}
.order-form {
  margin: 7.2rem auto 12.8rem 0;
  max-width: 41.4rem;
  @include respond(tab-port) {
    max-width: 35rem;
  }
}
.order-form label {
  display: block;
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 1.8rem;
  color: #656565;
  height: 2.2rem;
  margin-top: 2rem;
  margin-bottom: 0.4rem;
}
// .order-form label:first-child {
//   margin-top: 0;
// }
.order-form input {
  width: 38.4rem;
  height: 4.8rem;
  border: 1px solid #939fb8;
  font-family: $font-secondary;
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  padding: 0.5rem;
  border-radius: 4px;
  @include respond(tab-port) {
    width: 32rem;
  }
}

.order-form input::placeholder {
  color: $color-grey-light-2;
  font-size: 1.6rem;
}
.wide {
  margin-top: 4rem;
  width: 23.6rem;
  text-align: center;
  @include respond(tab-port) {
    max-width: 17rem;
  }
}
.sefety-bay {
  max-width: 39.4rem;
  margin-top: 1.6rem;
}
.sefety-bay img {
  margin-right: 0.4rem;
  padding-top: 0.2rem;
}
.sefety-bay span {
  font-weight: 400;
  font-size: 1.6rem;
  color: #656565;
  letter-spacing: 0;
}
.sefety-bay-center {
  text-align: center;
}

.text-box {
  height: 15rem;
  width: 38.4rem;
  padding: 0.5rem;
  border: 1px solid #939488;
  border-radius: 4px;
  color: $color-black;
  font-size: 1.8rem;
  font-style: $font-secondary;
  @include respond(tab-port) {
    max-width: 31.8rem;
  }
}
