.p1_text-normal {
  font-size: 1.8rem;
  font-family: $font-secondary;
  font-weight: 400;
  text-align: left;
  color: $color-grey-description;
}
.heading-1 {
  font-family: $font-primary;
  font-weight: 500;
  font-size: 6.4rem;
  letter-spacing: 0px;
  line-height: 1.05;
  word-spacing: 0rem;
  margin-bottom: 0.8rem;
  @include respond(phone) {
    font-size: 4.8rem;
  }
}
.heading-2 {
  font-family: $font-primary;
  font-weight: 500;
  font-size: 5rem;
  color: $color-black;
  letter-spacing: 0;
  @include respond(small-phone) {
    font-size: 3.8rem;
    line-height: 1.05;
  }
}
.heading-3 {
  font-family: $font-primary;
  font-weight: 500;
  font-size: 3.6rem;
  color: $color-black;
}
.other-product-price {
  font-family: $font-primary;
  font-weight: 200;
  font-size: 5rem;
  color: $color-orange-dark;
  text-transform: uppercase;
}
